<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>CS4241 Assignment 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="simple interest tracker software">
  <script src="js/main.js"></script>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css'>
  <link rel='stylesheet' href='css/custom.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">

  <!-- get rid of favicon error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <header>
    {{{body}}}
  </header>
  <main>
    <div id="inputDiv">
      <form id="taskForm">
        <div class="inputParamDiv">
          <label for="deposit-input">Deposit ($):</label>
          <input type="number" id="deposit-input" min="0" step="0.01" required>
        </div>
        <div class="inputParamDiv">
          <label for="start-date-input">Start Date:</label>
          <input type="date" id="start-date-input" required>
        </div>
        <div class="inputParamDiv">
          <label for="rate-input">Interest Rate (%):</label>
          <input type="number" id="rate-input" min="0" max="100" step="0.01" required>
        </div>
        <div class="inputSubmitDiv">
          <input id="submitButton" type="submit" value="Submit" class="contrast">
        </div>
      </form>
    </div>
    <hr>
    <div id="controllerDiv">
      <div class="controller">
        <div class="controllerButton">
          <button id="modifyButton" class="contrast">Modify</button>
        </div>
        <div class="controllerButton">
          <button id="deleteButton" class="contrast">Delete</button>
        </div>
        <input id="finishModifyButton" type="submit" form="modifyForm" value="Finish" hidden class="contrast">
        <button id="finishDeleteButton" hidden class="contrast">Finish</button>
      </div>
    </div>
    <div id="tableDiv">
      <table id="results">
        <thead>
          <tr>
            <th scope="col" hidden>ID</th>
            <th scope="col">Deposit</th>
            <th scope="col">
              Start Date <br>
              (yyyy-mm-dd)
            </th>
            <th scope="col">Interest Rate</th>
            <th scope="col">Total Accrued</th>
            <th id="deleteColumn" scope="col">Delete</th>
          </tr>
        </thead>
        <tbody id="dataView"></tbody>
        <tbody id="modifyView"></tbody>
      </table>
      <form id="modifyForm"></form>
    </div>
  </main>
</body>

</html>