<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="#">
	<meta name="description" content="task,date,deadline,creation,project,planning,todo">
	<meta name="viewport" content="task,date,deadline,creation,project,planning,todo,width=device-width,initial-scale=1" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="https://kit.fontawesome.com/0765699ff8.js" crossorigin="anonymous"></script>
	<script src="script.js" defer></script>
	<title>Tasks</title>
</head>
<body>
<div>
	<h1>Add Task</h1>
	<div>
		<form id="addItemContainer">
			<div class="addItem">
				<input type="text" name="Task" placeholder="Task" required="required">
			</div>
			<div class="addItem">
				<input type="date" name="CreationDate" placeholder="CreationDate" required="required">
			</div>
			<div class="addItem">
				<input type="date" name="Deadline" placeholder="Deadline" required="required">
			</div>
			<div class="addItem">
				<button class="add-button">submit</button>
			</div>
			<div class="addItem">
				<button class="resetForm-button" onclick="ClearForm()">reset</button>
			</div>
		</form>
	</div>
</div>
<div id="task-table">

</div>
</body>
</html>