<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="#">
	<meta name="description" content="task,date,deadline,creation,project,planning,todo">
	<meta name="viewport" content="task,date,deadline,creation,project,planning,todo,width=device-width,initial-scale=1" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="script.js" defer></script>
	<title>Todo List</title>
</head>
<body>
<div>
	<h1>Add Task</h1>
	<div>
		<form id="addItemContainer">
			<div class="addItem">
				<label for="Task">Task:</label>
				<input type="text" name="Task" id="Task" placeholder="Task" required="required">
			</div>
			<div class="addItem">
				<label for="CreationDate">Creation Date:</label>
				<input type="date" name="CreationDate" id="CreationDate" label="Creation Date" required="required">
			</div>
			<div class="addItem">
				<label for="Deadline">Deadline:</label>
				<input type="date" name="Deadline" id="Deadline" required="required">
			</div>
			<div class="addItem">
				<button class="add-button">Add Task</button>
			</div>
			<div class="addItem">
				<button class="resetForm-button" onclick="ClearForm()">reset</button>
			</div>
		</form>
	</div>
</div>

<div class="Edit-Task">
	<h1>Edit Task</h1>
	<div>
		<form id="taskContainer">
			<div class="addItem">
				<label for="Edit-Task">Task:</label>
				<input type="text" name="Task" id="Edit-Task" placeholder="Task" required="required">
			</div>
			<div class="addItem">
				<label for="Edit-CreationDate">Creation Date:</label>
				<input type="date" name="CreationDate" id="Edit-CreationDate" label="Creation Date" required="required">
			</div>
			<div class="addItem">
				<label for="Edit-Deadline">Deadline:</label>
				<input type="date" name="Deadline" id="Edit-Deadline" required="required">
			</div>
			<div class="addItem">
				<button class="edit-button">Update</button>
			</div>
		</form>
		<button onclick="closeEditForm()" class="close-edit-button">Close Edit Window</button>
	</div>
</div>
<div>
	<h1>To Do List</h1>
	<div id="task-table">
	
	</div>
</div>
</body>
</html>