<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="js/script.js"></script>
	<title>Tasks</title>
</head>
<body>
<div>
	<h1>Add Task</h1>
	<div>
		<form>
			<div class="addItem">
				<input type="text" name="Task" placeholder="Task" required="required">
			</div>
			<div class="addItem">
				<input type="date" name="CreationDate" placeholder="CreationDate" required="required">
			</div>
			<div class="addItem">
				<input type="date" name="Deadline" placeholder="Deadline" required="required">
			</div>
			<div class="addItem">
				<button class="add-button">submit</button>
			</div>
			<div class="addItem">
				<button class="resetForm-button" onclick="ClearForm()">reset</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>