<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<h1>Welcome</h1>
    <h4>
        Sign In
    </h4>
    <a href="/auth/github/">Sign in with GitHub</a>
<body>
    
</body>
</html>