<!doctype html>
<html lang="en">
<head>
	<title>CS4241 Assignment 2</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="https://kit.fontawesome.com/0765699ff8.js" crossorigin="anonymous"></script>
	<title>Login</title>
</head>
<body>
<div class="login">
	<h1>Login/Signup</h1>
	<form action='/login' method='POST'>
		<input type='text' placeholder="Username" name='Username' required="required">
		<input type='password' placeholder="Password" name='Password' required="required">
		<button class="login-button">login/signup</button>
	</form>
</div>
</body>
</html>