<!DOCTYPE html>
<html>
    <head>
        <title>Grocery List Tracker</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <script src="js/auth.js"></script>
    </head>

    <body>
        <div class="login">
            <form>
                <label>Username</label>
                <input type="text" id="username">
                <label>Password</label>
                <input type="password" id="password">
                <button type="submit" id="login">Login</button>
                <button type="submit" id="register">Register</button>
                <button id="ghlog"> Log In With Github</button>
            </form>
        </div>
    </body>
</html>