<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  </head>
  <body>
    <h1>
      Log in here:
    </h1>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password"/>
      <input type="submit" value="login" />
      <p>
        Don't have an account? No prob Bob!
      </p>
      <input
        id="redirectButton"
        type="button"
        value="click here to create an account"
      />
    </form>
     <script type="text/javascript">
      document.getElementById("redirectButton").onclick = function () {
      location.href = "https://a3-isabellapabon.glitch.me/create.html"; };
    </script>

    {{{msg}}}

  </body>
</html>