<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3 login</title>
    <meta charset="utf-8" />
    <!--  <script src="main.js"></script> -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <body>
      
      <form action="/login" method="POST">
        Username:<input type="text" id="username" name="username" placeholder="Username" />
        Password:<input type="password" id="password" name="password" required/>
        <input type="submit" id="submit" value="login" required/>
      </form>
    </body>
  </head>
</html>
