<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_register.css">
    <meta name="description" content="Vehicle Service Log Tracker Login">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> -->
    <title>VSL Login</title>
</head>

<body>
    <div class="center">
        <div class="container">
            <div class="text">
                Vehicle Service Log Tracker
            </div>
            <p class="error">
                <% if (error) { %>
                    <%= error %>
                        <% } %>
            </p>

            <form action="/login" method="post">
                <div class="data" id="email-container">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" required>
                </div>
                <div class="data">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="btn">
                    <button id="submitbutton" type="submit">login</button>
                </div>
            </form>

            <div class="container-two">
                <div class="img-container">
                    <img class="test-img"
                        src="https://cdn.icon-icons.com/icons2/2157/PNG/512/github_git_hub_logo_icon_132878.png"
                        alt="github logo">
                </div>
                <form action="/auth/github" , method="get">
                    <button id="github-button" type="submit">login via
                        Github</button>
                </form>
            </div>

            <div class="signup-link">
                <p style="margin-right: 10px;"> Not a member? </p> <a href="/register"> Signup now</a>
            </div>
        </div>
</body>

</html>