<!doctype html>
<html lang="en">
  <head>
    <title>A3 Login</title>
    <meta charset="utf-8">
    <script src="main.js"></script>
    <!--<link rel="stylesheet" href="main.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body class="center">
    <h1 class="center">Homework Tracker</h1>
    <h2>Login</h2>
    <form id="login" action= "/login" method="POST">
      <input type="text" id="username" name="username" placeholder="username">
      <input type="text" id="password" name = "password" placeholder="password">
      <input id="submit" type="submit" value="login"/>
    </form>
    {{{msg}}}
  </body>
</html>
