<div class="grid">
    <div id="logoutInput">
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit" class="contrast">Log Out</button>
        </form>
    </div>
    <div id="title">
        <h1>Interest Tracker</h1>
    </div>
    <div id="welcome">
        <p>Welcome, {{username}}</p>
        <div class="popup">
            <span class="popuptext" id="loginPopup">New User Created</span>
        </div>
    </div>
</div>