<!DOCTYPE html>
<html lang="en">
<head>
  <title>Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    
<body>
    <h1>
        Menu
    </h1>

    <a href="/game"><button> Play </button></a> 
    <a href="/editPlayer"><button> Edit Player Profile </button></a>

</body>
</html>