<!DOCTYPE html>
<html>
    <head>
        <title>Log-In</title>
        <meta charset="utf-8">
        <script src="js/login.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body>
        <div class="grid_container">
            <div class="title">
                <h1>
                  David's Most Subway Stops in One Hour
                </h1>
                <p>
                  Submit the number of subway stops you have been to in one hour to be recognized on this leaderboard!
                </p>
            </div>
            <div class="login">
                <h3>Login</h3>
                <form>
                    <label for="lg_username">Username: </label>
                    <input type="text" id="lg_username" placeholder="Username"> <br>
                    <label for="lg_password">Password: </label>
                    <input type="text" id="lg_password" placeholder="Password"> <br>
                    <button id="login">Login</button>
                </form>
                <p id="lg_fail_text" class="invalid_text"></p>
            </div>
            <div class="signup">
                <h3>Signup</h3>
                <form>
                    <label for="su_username">Username: </label>
                    <input type="text" id="su_username" placeholder="Username"> <br>
                    <label for="su_password">Password: </label>
                    <input type="text" id="su_password" placeholder="Password"> <br>
                    <button id="signup">Signup</button>
                </form>
                <p id="su_fail_text" class="invalid_text"></p>
            </div>
        </div>
        <!-- <button id="login">Click to log in</button> -->
    </body>

</html>