<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login_register.css">
    <meta name="description" content="Vehicle Service Log Tracker Register">
    <title>VSL Register</title>
</head>

<body>
    <main class="center">
        <div class="container">
            <div class="text">
                Vehicle Service Log Tracker
            </div>
            <p class="error">
                <% if (error) { %>
                    <%= error %>
                        <% } %>
            </p>
            <form class="regform" action="/register" method="post">
                <div class="data" id="username-container">
                    <label>Username</label>
                    <input id="username" type="text" name="username" placeholder="Ex: JohnDoe123">
                </div>
                <div class="data">
                    <label>Email</label>
                    <input id="email" type="email" name="email" placeholder="Ex: jdoe@yahoo.com">
                </div>
                <div class="data">
                    <label>Password</label>
                    <input id="password" type="password" name="password" placeholder="Ex: password123">
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="btn">
                    <div class="inner"></div>
                    <button id="submitbutton" type="submit" onclick="return ValidateEmail()">Sign Up</button>
                </div>
                <div class="signup-link">
                    <p style=" margin-right: 10px;">Already a member?</p> <a href="/login">Login now</a>
                </div>
            </form>
        </div>
    </main>
    <script>
        function ValidateEmail() {
            const email_input = document.getElementById("email");
            const user_input = document.getElementById("username");
            const pass_input = document.getElementById("password");

            if (user_input.value === "") {
                alert("Please enter a username");
                return false;
            }

            if (email_input.value === "") {
                alert("Please enter an email address");
                return false;
            }

            if (pass_input.value === "") {
                alert("Please enter a password");
                return false;
            }

            // validate email and pass before submission 

            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!email_input.value.match(mailformat)) {
                alert("Error: Invalid email address!");
                return false;
            } else {
                return true;
            }

        }
    </script>
</body>

</html>