body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  input{
    margin: 5px 0;
  }