input::placeholder {
  color: gray;
  font-style: italic; 
}

.grayed-out-input::placeholder {
  color: gray;
  font-style: italic; 
}

#artistname{
  max-width: 15%;
  margin-left:15%;
  margin-right:3.75%;
}

#genre{
  max-width: 15%;
  margin-left: 3.75%;
  margin-right: 3.75%;
}

#rating{
  max-width: 15%;
  margin-left: 3.75%;
  margin-right: 7%;
}

#createform{
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: solid black 1px;
}

#deleteaside{
  float: right;
  width:33%;
  text-align: center;
  height: 100%;
  padding-left: 4%;
}

#titlediv{
  border-bottom: solid black 3px;
  border-top: solid white 1px;
  align-items: center;
  text-align: center;
}

ol li{
  margin-bottom: 4%;
}

main{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  background-color:lightgrey;
  background-image: url('../images/grey-wallpaper.jpg');
  background-color:snow;
  background-blend-mode:difference;
  background-size: cover;
  background-clip: padding-box;
}

#leaderboard{
  padding-left: 4%;
  padding-right: 4%;
  width:33%;
  height:300px;
}

#listdiv{
  position: relative;
  min-height: 100%;
  overflow-y:scroll;
}

#head{
  background-color:lightgrey;
  background-image: url('../images/grey-wallpaper.jpg');
  background-color:snow;
  background-blend-mode:difference;
  background-size: cover;
  background-clip: padding-box;
}

#favshowcase{
  align-items: center;
  padding-right: 4%;
  width:33%;
}

.secondheader{
  background-color: black;
  text-align: center;
  margin:0px;
  font-size: 22px;
}

.divheader{
  width:100%;
  background-color: black;
  margin-top: 20px;
}

#deldivheader{
  color:rgb(255, 103, 103);
  border:solid rgb(255, 103, 103) 1px;
}

#favdivheader{
  color:rgb(225, 225, 0);
  border:solid rgb(225, 225, 0) 1px;
}

#rankdivheader{
  color:rgb(48, 202, 48);
  border:solid rgb(48, 202, 48) 1px;
}