body {
  background:black;
  color:white;
}

th, td {
  border: 2px solid white;
  /* font-size: 36px; */
}

table {
  border-collapse: collapse;
}

.grid_container {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 40% auto;
}

.title {
  grid-column: 1 / span 2;
  background-color: purple;
  padding: 10px;
}

.manual_score_text {
  grid-column: 1;
}

.manual_score_form {
  grid-column: 1;
}

.score_table {
  grid-column: 2;
  grid-row: 3 / span 3;
}

.logout_button {
  grid-column: 1;
}

.login {
  grid-column: 1;
}

.signup {
  grid-column: 2;
}

.thick {
  font-weight: bold;
}

p, h1 {
  font-family: Roboto Condensed, Trebuchet MS, Arial;
}

/* p {
  font-size: 36px;
}

label {
  font-size: 36px;
} */

.invalid_text {
  color: red;
}

/* h1 {
  font-size: 48px;
}*/

button {
  padding: 5% 5% 5% 5%;
}

input {
  padding: 5% 5% 5% 5%;
}