/* General Styles */
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field label {
  color: #000000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #8628B2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #5a27aa;
}

.btn {
  background-color: #145A54;
}

/* Task Card Styles */
#tasksContainer .card {
  margin: 10px 0;
  transition: box-shadow 0.3s ease;
}

#tasksContainer .card-content {
  position: relative;
}

#tasksContainer .card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

#tasksContainer .taskDescription {
  font-size: 1.2em;
}

#tasksContainer .taskInfo {
  font-size: 0.8em;
  color: gray;
}

#tasksContainer .card-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

#tasksContainer .taskAssignedTo {
  flex-grow: 1;
  /* position: absolute;
  left: 0;
  bottom: 0; */
}

#tasksContainer .dueDate {
  flex-grow: 1;
  text-align: right;
  /* display: block; */
  /* position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 10px; */
}

#tasksContainer .card-action a {
  margin-right: 10px;
  cursor: pointer;
}

/* Priority Colors */
.prioritySymbol {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 13px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin-right: 5px; /* Add some space between the symbol and the task text */
}

.prioritySymbol.high {
  background-color: #e74c3c; /* red */
}

.prioritySymbol.medium {
  background-color: #f39c12; /* orange */
}

.prioritySymbol.low {
  background-color: #2ecc71; /* green */
}

.prioritySymbol:hover {
  padding: 0px 5px;
  border-radius: 10px;
}
