/* General Styles */
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Task Card Styles */
#tasksContainer .card {
  margin: 10px 0;
  transition: box-shadow 0.3s ease;
}

#tasksContainer .card-content {
  position: relative;
}

#tasksContainer .card-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

#tasksContainer .taskDescription {
  font-size: 1.2em;
}

#tasksContainer .taskInfo {
  font-size: 0.8em;
  color: gray;
}

#tasksContainer .taskAssignedTo {
  position: absolute;
  right: 0;
  bottom: 0;
}

#tasksContainer .dueDate {
  display: block;
  margin-top: 10px;
}

#tasksContainer .card-action a {
  margin-right: 10px;
  cursor: pointer;
}

/* Priority Colors */
.prioritySymbol {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 13px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin-right: 5px; /* Add some space between the symbol and the task text */
}

.prioritySymbol.high {
  background-color: #e74c3c; /* red */
}

.prioritySymbol.medium {
  background-color: #f39c12; /* orange */
}

.prioritySymbol.low {
  background-color: #2ecc71; /* green */
}

.prioritySymbol:hover {
  padding: 0px 5px;
  border-radius: 10px;
}
