<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
  </head>
  <body>
    <nav>
      <a href = "/">Logout</a>
      <a href = "build_music_listening_list.html">Build Music Listening List</a>
    </nav>
    <header>
      <h1>Build Music Listening List</h1>
    </header>
    <main>
      <section>
        <h2>View Music Listening List</h2>
        <button id = "getMusic">Get Music Listening List</button>
        <div id = "musicList"></div>
      </section>
      <section>
        <h2>Submit New Music</h2>
          <form>
            <label for="bandname">Band Name:</label>
            <input type="text" id="bandname">
            <label for="albumname">Album Name:</label>
            <input type="text" id="albumname">
            <label for="releaseyear">Release Year:</label>
            <input type ="number" id="releaseyear">
            <button id = "submitMusic">Submit Music</button>
          </form>
          <div id = "submissionInfo"></div>
      </section>
      <section>
        <h2>Delete Existing Music</h2>
          <form>
            <label for="deletebandname">Band Name:</label>
            <input type="text" id="deletebandname">
            <label for="deletealbumname">Album Name:</label>
            <input type="text" id="deletealbumname">
            <label for="deletereleaseyear">Release Year:</label>
            <input type ="number" id="deletereleaseyear">
            <button id = "submitMusicForDeletion">Delete Music</button>
          </form>
          <div id = "submissionForDeletionInfo"></div>
      </section>
      <section>
        <h2>Modify Existing Music</h2>
        <p>To modify existing music using the form below, enter a Music Listening List ID shown on the left corresponding to the list item you would like to modify. Then, also enter a band name, album name, and release year for that list item in the form below. You can choose to update any number of those three fields with new data. Be sure to enter data for all three fields. After submitting the form below, click the Get Music Listening List button to refresh and view the new list of music data. This new list will include the modification for the list item with the ID you specified in the form below.</p>
        <form>
          <label for="enterlistID">ID:</label>
          <input type="number" id="enterlistID">
          <label for="modifybandname">Band Name:</label>
          <input type="text" id="modifybandname">
          <label for="modifyalbumname">Album Name:</label>
          <input type="text" id="modifyalbumname">
          <label for="modifyreleaseyear">Release Year:</label>
          <input type ="text" id="modifyreleaseyear">
          <button id = "submitMusicForModification">Modify Music</button>
        </form>
        <div id = "submissionForModifyInfo"></div>
      </section>
    </main>
    <footer>
      Music Listening Builder created by Matthew McAlarney
    </footer>
    <script src = "/show_music_listening_list.js"></script>
    <script src = "/new_music_submission.js"></script>
    <script src = "/modify_existing_music.js"></script>
    <script src = "/existing_music_deletion.js"></script>
  </body>
</html>