<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"></link>
  </head>
  <body>
    <header>
      <h1 class = "title is-1 is-family-primary has-text-success-dark has-text-weight-bold has-text-centered">Music Listening Builder</h1>
    </header>
    <main>
      <section class = "section">
        <h2 class = "subtitle is-2 is-family-sans-serif has-text-warning-dark has-text-left">Login</h2>
        <form action = "/userLogin" method = "POST">
          <div class = "field">
            <label class = "label is-family-code is-medium" for = "username">Username</label>
            <input class = "input is-info is-medium" type="text" name="username">
          </div>
          <div class = "field">
            <label class = "label is-family-code is-medium" for = "password">Password</label>
            <input class = "input is-info is-medium" type="password" name="password">
          </div>
          <button class = "button is-family-monospace is-link is-medium">Login</button>
        </form>
        <div class = "mt-3">
          {{{loginStatusMessage}}}
        </div>
      </section>
      <section class = "section">
        <h2 class = "subtitle is-2 is-family-sans-serif has-text-warning-dark has-text-left">Create New Account</h2>
        <form action = "/createNewUser" method = "POST">
          <div class = "field">
            <label class = "label is-family-code is-medium" for = "newusername">Username</label>
            <input class = "input is-info is-medium" type="text" name="newusername">
          </div>
          <div class = "field">
            <label class = "label is-family-code is-medium" for = "newuserpassword">Password</label>
            <input class = "input is-info is-medium" type="password" name="newuserpassword">
          </div>
          <button class = "button is-family-monospace is-link is-medium">Create Account</button>
        </form>
        <div class = "mt-3">
          {{{accountCreationMessage}}}
        </div>
      </section>
    </main>
      <footer class = "footer">
        <div class = "content has-text-centered">
          Music Listening Builder created by Matthew McAlarney
        </div>
      </footer>
  </body>
</html>
