<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
  </head>
  <body>
    <nav>
      <a href = "/">Home</a>
      <a href = "modify_music_listening_list.html">Modify Music Listening List</a>
    </nav>
    <header>
      <h1>Music Listening Tracker</h1>
    </header>
    <main>
      <section>
        <h2>Submit New Music</h2>
          <form>
            <label for="bandname">Band Name:</label>
            <input type="text" id="bandname">
            <label for="albumname">Album Name:</label>
            <input type="text" id="albumname">
            <label for="releaseyear">Release Year:</label>
            <input type ="text" id="releaseyear">
            <button id = "submitMusic">Submit Music</button>
          </form>
          <div id = "submissionInfo"></div>
      </section>
      <section>
        <h2>Delete Existing Music</h2>
          <form>
            <label for="bandname">Band Name:</label>
            <input type="text" id="deletebandname">
            <label for="albumname">Album Name:</label>
            <input type="text" id="deletealbumname">
            <label for="releaseyear">Release Year:</label>
            <input type ="text" id="deletereleaseyear">
            <button id = "submitMusicForDeletion">Delete Music</button>
          </form>
          <div id = "submissionForDeletionInfo"></div>
      </section>
    </main>
      <footer>
        Music Listening Tracker created by Matthew McAlarney
      </footer>
      <script src="/new_music_submission.js"></script>
      <script src="/existing_music_deletion.js"></script>
  </body>
</html>
