<!doctype html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Music Listening Builder</h1>
    </header>
    <main>
      <section>
        <h2>Login</h2>
        <form>
          <label for="username">Username:</label>
          <input type="text" id="username">
          <label for="password">Password:</label>
          <input type="text" id="password">
          <button id = "submitLogin">Login</button>
        </form>
      </section>
      <section>
        <h2>Create New Account</h2>
        <form>
          <label for="newusername">Username:</label>
          <input type="text" id="newusername">
          <label for="newpassword">Password:</label>
          <input type="text" id="newpassword">
          <button id = "submitCreateAccount">Create Account</button>
        </form>
      </section>
    </main>
      <footer>
        Music Listening Builder created by Matthew McAlarney
      </footer>
  </body>
</html>
